{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "defaults"
          ]
        }
      }
    ],
    "react",
    "flow"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-export-extensions"
  ]
}